*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
}
.button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}
.btn {
    font-size: 2rem;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    /* transition: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 1s;
    transition: transform 0.3s, background-color 0.3s; */
    transition: all 0.3s;
}
.btn:hover {
    transform: translateY(-10px);
    background-color: red;
    border-radius: 20px;
    color: black;
    font-size: 3rem;
}