*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 80%;
    margin-inline: auto;
    margin-top: 5rem;
    border: 10px solid black;
    /* GRID  */
    display: grid;
    grid-template-rows:100px 100px 100px 100px 100px 100px ; 
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
}

.item {
    background-color: pink;
    border: 10px solid red;
    padding: 0.5em;
}