*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 80%;
    margin-inline: auto;
    margin-top: 5rem;
    border: 10px solid black;
    /* GRID  */
    display: grid;
    grid-template-rows: repeat(2, 200px); 
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'html html css'
    'js react react';
    gap: 1rem; 
}

.item {
    background-color: pink;
    border: 10px solid red;
    padding: 0.5em;
}

.item-1 {
    grid-area: html;
}
.item-2 {
    grid-area: css; 
}

.item-3 {
    grid-area: js; 
}
.item-4 {
    grid-area: react; 
}